* {
  font-family: "Noto Serif";
}

.title {
  font-size: 80px;
  border: 10px;
  text-align: center;
  background-image: linear-gradient(180deg, #1d3a9c, #48b5bd);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#SelectChar {
  align-items: center;
  text-align: center;
  width: 94%;
  margin-left: 3%;
  height: 50px;
  font-size: 200%;
  border-radius: 50px;
  background-image: linear-gradient(180deg, #ff0505, #000000);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.CharInfo {
  width: 44%;
  margin-left: 3%;
  font-size: 30px;
  padding: 15px;
  background-image: linear-gradient(180deg, #3b0808, #005186);
  background-size: 100%;
  background-repeat: repeat;
  height: 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.CharCard {
  width: 44%;
  margin-left: 6%;

}

.CharSplash {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.CharAbilties {
  font-size: 30px;
  border: 10px;
  padding: 15px;
  text-align: center;
  background-image: linear-gradient(180deg, #1d3a9c, #001314);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#CharInfoCardContainer {
  background: url("images/background1.jpg")  no-repeat center fixed;
  display: flex;
  border: 5px solid #000000;
  border-radius: 50px;
}

#CharSplashAbiltiesContainer {
  display: flex;
  border: 5px solid #070202c2;
  border-radius: 50px;
}

.CharPassives {
  background-color: black;
  text-align: center;
  width: 100%;
  font-weight: 900;
  font-size: 35px;
  padding: 15px;
  background-image: linear-gradient(180deg, #240303, #880707);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.Oreo {
  width: 100%;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.24)
}

#SelectCharSkill {
  align-items: center;
  text-align: center;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 200%;
  border-radius: 50px;
  background-image: linear-gradient(180deg, #be1e1e, #bb8c8c);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.CharSkillInfo {
  background: url("images/background2.jpg")  no-repeat center fixed;
  font-size: 30px;
  border: 5px solid black;
  padding: 15px;
  border-radius: 50px;
  background-image: linear-gradient(90deg, #000000, #0a027264);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  padding-bottom: 200px;
}

body {
  background: url("images/waifu.jpg")  no-repeat center fixed;
  background-color: beige;
  /* background: url("images/background1.jpg")  no-repeat center fixed; */
}

/* #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  } */